extends layout

block content
	script(src="/javascripts/bbsList.js?ver=1215002")
	div.container-flud
		section.class
			article.col-sm-12
				h3
				p
				table.table.table-striped.table-hover
					tr
						th no
						th 날짜
						th 시간
						th 작성자
						th 제목
						th 조회수
					each item,index in BBS_LIST
						tr(data-id= item.b_id).bbs-row
							td= item.b_id
							td= item.b_date
							td= item.b_time
							td= item.b_writer
							td= item.b_subject
							td= item.b_count
			article.col-sm-12.d-flex.justify-content-end
				button#btn-insert.btn.btn-primary.text-white 글쓰기
			include pager
