extends layout

block content
	script(src="/javascripts/bbsView.js?ver=1215")
	style.

	div.container-flud
		section.class
			table.table.table-striped.table-hover.tb-view
				tr
					th 작성일자
					td(data-id= bbs.b_id)#b_id= bbs.b_date
					th 작성시각
					td= bbs.b_time
					th 작성자
					td= bbs.b_writer
					th 조회수
					td= bbs.b_count

				tr
					th 제목
					td(colspan="7")= bbs.b_subject
				tr.text
					td(colspan="8") !{bbs.b_text}

				tr.text
					th 댓글
					td(colspan="7")
						include bbsRepl

		article.d-flex.justify-content-end.p3
			button(data-id= bbs.b_id)#btn-update.btn.btn-primary 본문수정
			button(data-id= bbs.b_id)#btn-delete.btn.btn-danger 본문삭제
			button(data-id= bbs.b_id)#btn-list.btn.btn-success 목록으로
